<div id="column-left">
   <div class="box no-padding">
      <div class="title">Latest Articles</div>
      <ng-include src="'partials/modules/articlebeans.html'"></ng-include>
   </div>
</div>
<div id="column-right">
   <div class="box">
      <div class="title">Daily Gift</div>
      <p>You're one step away from getting your daily prize. Click on the button to redeem it.</p>
      <a class="button right" href="#">Redeem Gift</a>
   </div>
   <div class="box">
      <div class="title">Facebook</div>
   </div>
</div>