<div id="column-left">
	<div class="box">
		<div class="title red">Page not found</div>
		<img src="img/error.gif" style="float:right; margin-left:15px">
		<p>Sorry, but we can't find the page you requested.</p>

		<p>Please try typing the URL again. If you end up back here, please use the 'Back' button to get back to where you started.</p>
	</div>
</div>
<div id="column-right">
	<div class="box">
		<div class="title green">Were you looking for...</div>
		<p>The <a href="/community">Community</a> Page, where you can see what Habbos are up to and view the rankings.</p>
		<p>The <a href="/community">Shop</a> Page, where you can buy some goodies for your Habbo character.</p>
	</div>
</div>